<div class="infobox_container">
    <div class="arrow-up"></div>
    <div class="infobox">
        {{!-- \{{}} will be escape the {{}} so we can still use this syntax for our template --}}
        {{!-- You can use whatever template engine you want for your infobox --}}
        <img src="\{{picture}}" alt="Company picture from \{{company}}">
        <h1>\{{company}}</h1>
    </div>
</div>