<div data-google-map-component>
    <div data-google-map-canvas style="height:90vh">
    </div>
    <script type="text/template" data-google-map-infobox-template>
        {{> infobox}}
    </script>
</div>  