html, body {
	display: block;
	position: absolute;
	font-size: 14px;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	color: $primary-text;
	
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}