.infobox {
    background:#fff;
    height: 220px;
    width: 250px; 
    text-align:center;
    font-size:17px;
    padding:20px;
    .infobox__picture {
        max-width:100%;   
    }

    .infobox__company {
        font-weight: 300;
    }
}